<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>손맛나는 편지</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="author">
    <%- meta %>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('./css') -%>
    <%- style %>
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">


<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<div class="page-wrapper">

    <% if(locals.none_header) { %>

    <% } else { %>
            <!-- header-container start -->
        <%- include('./header') -%>
        <!-- header-container end -->
    <% } %>

    <%- body %>
    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <%- include('./footer') -%>
    <!-- footer end -->
</div>


<%- include('./script') -%>
<%- script %>

<% if(locals.opponents) { %>

    <% if(locals.show_opponent) { %>
<div class="style-switcher opened" style="left: 0px;">
    <% } else { %>
    <div class="style-switcher closed">
        <% } %>

        <div class="header">
            <a class="trigger" href="#"><i class="fa fa-envelope"></i></a>
            <h2>Messages</h2>
        </div>
        <div class="clearfix body light-gray-bg col-lg-12 col-xl-12">
            <div class="sidebar">
                <% if(opponents==0) {%>
                    <div class="text-center mt-40 mb-2">손편지함이 비어있습니다</div>
                    <p class="pv-5 pr-4 text-right"><a href="/message/form" class="btn btn-animated btn-sm btn-gray-transparent">손편지 쓰기<i class="fa fa-envelope pl-20"></i></a></p>
                <% } else { %>
                    <div class="pv-20"></div>
                <% } %>

                <% opponents.forEach(function(user){ %>

                        <div class="media mb-3  white-bg hc-item-box bordered round-corners" onclick="location.href='/message/to/<%= user.id %>/timeline'">

                            <div class="d-flex pr-2">
                                <div class="">

                                    <span class="icon default-bg mt-2 mb-2 ml-2 mr-2 circle"><i class="fa fa-user"></i></span>

                                </div>
                            </div>
                            <div class="media-body container">
                                <div class="row pt-3">
                                    <div class="col-lg-9">
                                        <h4 class="media-heading" style="font-weight: bold"><%= user.name %></h4>
                                        <p class="small margin-clear"><i class="fa fa-calendar pr-2"></i><%= user.send_date %></p>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="header-dropdown-buttons padding-top-clear">
                                            <div class="btn-group">
                                                <a href="/message/to/<%= user.id %>/timeline" class="btn btn-default "><i class="fa fa-envelope text-dark"></i>
                                                    <% if(user.count>0) { %>
                                                        <span class="cart-count bg-danger text-white"><%= user.count %></span>
                                                    <% } %>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    <% }); %>
                </div>
            </div>
        <!-- footer top start -->
        <!-- ================ -->
        <section class="footer section default-bg clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-action text-center">
                            <div class="row">
                                <h4 class="pt-3" style="width: 100%;">
                                    <a href="/message/share/list" class="btn btn-gray-transparent btn-animated" style="width: 100%;">
                                        <img src="/images/kakaolink_btn_small_ov.png" class="image" style="display: inline">
                                        &nbsp;&nbsp;&nbsp;카카오톡으로 공유한 편지<i class="fa fa-arrow-right mt-2 pl-20"></i></a></h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- footer top end -->
    </div>
    <!-- Color Switcher End -->
    <!-- Color Switcher (Remove these lines) -->
    <% } %>
</body>
</html>
