<!DOCTYPE html>
<html dir="ltr" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>The Project | Home</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="author">
    <%- meta %>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('./css') -%>
    <%- style %>
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="">


<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<div class="page-wrapper">


    <!-- header-container start -->
    <%- include('./header') -%>
    <!-- header-container end -->

    <%- body %>
    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <%- include('./footer') -%>
    <!-- footer end -->
</div>


<%- include('./script') -%>
<%- script %>

<% if(locals.opponents) { %>

<% if(locals.show_opponent) { %>
<div class="style-switcher opened" style="left: 0px;">
<% } else { %>
<div class="style-switcher closed">
<% } %>

    <div class="header">
        <a class="trigger" href="#"><i class="fa fa-envelope"></i></a>
        <h2>Messages</h2>
    </div>
    <div class="clearfix body light-gray-bg col-lg-12 col-xl-12">
        <div class="sidebar">
            <div class="pv-20"></div>
            <div class="block clearfix">
                <% opponents.forEach(function(user){ %>

                    <div class="media mb-3  white-bg hc-item-box bordered round-corners" onclick="location.href='/message/to/<%= user.id %>/timeline'">

                        <div class="d-flex pr-2">
                            <div class="">

                                <span class="icon default-bg mt-2 mb-2 ml-2 mr-2 circle"><i class="fa fa-user"></i></span>

                            </div>
                        </div>
                        <div class="media-body container">
                            <div class="row pt-3">
                                <div class="col-lg-9">
                                    <h4 class="media-heading" style="font-weight: bold"><%= user.name %></h4>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-2"></i><%= user.send_date %></p>
                                </div>
                                <div class="col-lg-3">
                                    <div class="header-dropdown-buttons padding-top-clear">
                                        <div class="btn-group">
                                            <a href="/message/to/<%= user.id %>/timeline" class="btn btn-default "><i class="fa fa-envelope text-dark"></i><span class="cart-count bg-danger text-white"><%= user.count %></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<!-- Color Switcher End -->
<!-- Color Switcher (Remove these lines) -->
<% } %>
</body>
</html>
