<!-- facebook -->
<meta property="og:title" content="<%= msg.From.name %> 님이 보낸 메세지 입니다.">
<meta property="og:description" content="http://son-mat.com/message/to/22">
<meta property="og:image" content="http://son-mat.com/images/share_logo.png">


<style>
    .message-detail-background {

        background-size: cover;
        background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.7)), url("/images/paper-texture-2.jpg");

        /*background: url("/images/paper-texture-2.jpg") 80% 0px;

        opacity: 0.5;
        z-index: -1;*/
    }

    .note-editable {
        background-color: white !important;


    }

    .note-editor.note-frame {
        border: 0 !important;
    }

    .note-editor.note-frame .note-editing-area .note-editable {
        padding: 30px;
    }

    ._btn_share_kakao {
        border: none;
        cursor: pointer;
        padding : 0;
        display: inline;
    }

</style>

<section class="main-container">

	<div class="container">
		<div class="row justify-content-center">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-lg-10">

                <div style="  overflow:hidden;">
                    <div style="float: left;">
                        <a href="javascript:history.back()" class="btn btn-default pull-right"><i class="fa fa-chevron-left pr-10"></i> 뒤로</a>
                    </div>
                    <% if(msg.To != null) { %>
                        <div style="float: right;">
                            <h5 class="float-right">카카오톡으로 공유&nbsp;&nbsp;
                                <a id="kakao_send_btn" class="btn _btn_share_kakao" data-toggle="modal" data-target="#kakao-modal"><img class="float-right" src="/images/kakaolink_btn_small_ov.png"></a>
                            </h5>
                        </div>
                    <% } %>
                </div>


                <div class="pv-30 ph-40 light-gray-bg hc-item-box bordered animated message-detail-background">
                    <!--style="background-color: #F5F5DC"-->

                    <div>
                        <h2 class="page-title"><%= msg.sonmat.message.title %></h2>
                        <div class="post-info mb-4 text-right">
                            <h5 class="post-date">
                                <i class="fa fa-calendar-o pr-1"></i>
                                <span class="day"><%= msg.send_date %></span>
                            </h5>
                        </div>
                    </div>


                    <!-- blogpost start -->
                    <!-- ================ -->
                    <article class="blogpost full mt-5">

                        <div class="blogpost-content white-bg pv-30 ph-40 hc-item-box bordered hc-shadow animated fadeInDownSmall
                                        pb-0 ml-lg-5 mr-lg-5 justify-content-center" style="padding-bottom: 0">

                            <% if(msg.To != null) { %>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="call-to-action">
                                                <div class="row">
                                                    <div class="col-md-8 mt-20">
                                                        <h2 class="title logo-font text-default mb-2">To.&nbsp;&nbsp;<span class="pen-font"><%= msg.To.name %></span></h2>
                                                        <div class="separator-2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                            <div id="summernote"></div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="call-to-action text-right">
                                            <div class="row">
                                                <div class="col-md-12 mt-20">
                                                    <div class="separator-3"></div>
                                                    <h2 class="title logo-font text-default mt-2">From.&nbsp;&nbsp;<span class="pen-font"><%= msg.From.name %></span></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- blogpost end -->

                </div>

			</div>
			<!-- main end -->
		</div>
	</div>
</section>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="/js/social/kakao/kakao.js"></script>
<script>

    var font_list = <%- JSON.stringify(font_list) %>;

    // font-face에 등록
    register_font_face(font_list);

    var message_contents_html = <%- "`" + msg.sonmat.message.contents_html + "`" %>;

    // summernote 생성
    var editor = $('#summernote').summernote({
        lang: 'ko-KR',
        tabsize: 2,
        toolbar : false,
        disableResizeEditor: true

    });
    editor.summernote('disable');
    $('.note-statusbar').hide();

    // contents_html display
    $('#summernote').summernote('code', message_contents_html);


    function register_font_face(font) {
        font.forEach(function(font_file) {
            var font_face = new FontFace(font_file.file_name, 'url(' + font_file.file_path + ')');

            // 폰트 load
            font_face.load().then(function(loaded_face) {
                // load 된 폰트 추가
                document.fonts.add(loaded_face);
            }).catch(function(error) { });
        });
    }

    /* 카카오톡으로 전송하기 */
    var kakaoShare = new KakaoShare();

    // 카카오톡 전송 버튼 - click event
    $(document).on('click', '#kakao_send_btn', function() {

        console.log("message send");

        var messageData = <%- JSON.stringify(msg.sonmat) %>;

        var formData = {};
        formData.title = messageData.message.title;
        formData.contents_html = messageData.message.contents_html;
        formData.contents = messageData.message.contents;
        formData.font_id = messageData.font_id;

        var MESSAGE_KAKAO_POST_UPLOAD_URL = '/api/message/share';

        function fn_success(response) {

            function initShareKakao() {
                var container = '._btn_share_kakao';
                var title = response.user_name + ' 님이 보낸 메세지 입니다.';
                var image = 'http://son-mat.com/images/share_logo.png';
                var link = response.url;
                var message = response.message_title;
                kakaoShare.share(container , title, image, message , link,
                    // success
                    function() {
                        //console.log("success")
                    },
                    // callback
                    function() {
                        //console.log("callback")
                        alert("카카오톡으로 공유가 완료되었습니다.");
                    });
            }

            initShareKakao();
        }

        AjaxUtils.postResult(MESSAGE_KAKAO_POST_UPLOAD_URL, formData, fn_success);
    });
</script>