<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-lg-12">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title"><%= msg.sonmat.message.title %></h1>
				<!-- page-title end -->

				<!-- blogpost start -->
				<!-- ================ -->
				<article class="blogpost full">
					<header>
						<div class="post-info mb-4">
							<span class="post-date">
								<i class="fa fa-calendar-o pr-1"></i>
								<span class="day"><%= msg.send_date %></span>
							</span>
							<span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#"><%= msg.From.name %></a></span>
							<span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i> <a href="#">22 comments</a></span>
						</div>
					</header>
					<div class="blogpost-content">
						<div id="carousel-blog-post" class="carousel slide mb-5" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-blog-post" data-slide-to="1"></li>
								<li data-target="#carousel-blog-post" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<div class="overlay-container">
										<img src="/images/blog-1.jpg" alt="">
										<a class="overlay-link popup-img" href="/images/blog-1.jpg"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
								<div class="carousel-item">
									<div class="overlay-container">
										<img src="/images/blog-3.jpg" alt="">
										<a class="overlay-link popup-img" href="/images/blog-3.jpg"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
								<div class="carousel-item">
									<div class="overlay-container">
										<img src="/images/blog-4.jpg" alt="">
										<a class="overlay-link popup-img" href="/images/blog-4.jpg"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
						
						<p class="large"><%= msg.sonmat.message.contents %></p>
						<h3 class="my-4"><span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> to <a href="#"><%= msg.To.name %></a></span></h3>
					</div>
					<footer class="clearfix">
						<div class="tags pull-left"><i class="fa fa-tags pr-1"></i> <a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
						<div class="link pull-right">
							<ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
								<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
							</ul>
						</div>
					</footer>
				</article>
				<!-- blogpost end -->
			</div>
			<!-- main end -->


		</div>
	</div>
</section>