
<div id="page-start"></div>

<section class="full-width-section">

	<div class="container-fluid">
		<div class="row">


			<div class="main col-lg-12 border-left">
				<section class="main-container">

					<div class="container">
						<div class="row">

							<!-- main start -->
							<!-- ================ -->
							<div class="main col-12">

								<!-- page-title start -->
								<!-- ================ -->
								<h1 class="page-title"><%= oppo_name %> 님과의 대화내역</h1>
								
								<div class="separator-2"></div>
								<!-- page-title end -->

								<!-- timeline grid start -->
								<!-- ================ -->
								<div class="timeline clearfix">

                                    <div class="timeline-date-label icon default-bg circle mb-0" style="border-radius: 0px; display: block"><i class="fa fa-diamond"></i></div>

                                    <br/>

									<!-- timeline grid item start -->
									<% msgs.forEach(function(msg){ %>
										<% if(msg.from_user_id == uid) { %>
											<div class="timeline-item">
										<% } else { %>
											<div class="timeline-item pull-left">
										<% } %>

												<article class="blogpost hc-shadow-2 light-gray-bg bordered hc-element-invisible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
													<header>
														<h2><a href="/message/to/<%= msg.id %>"><%= msg.sonmat.message.title %></a></h2>
														<div class="post-info text-right">
															<span class="post-date">
																<i class="fa fa-calendar-o pr-1"></i>
																<span class="day"><%= msg.send_date %></span>
															</span>
															<span class="submitted"><i class="fa fa-user pr-1 pl-1"></i> by <a href="#"><%= msg.From.name %></a></span>
														</div>
													</header>
													<div class="blogpost-content">
														<p><%= msg.sonmat.message.contents %></p>
													</div>
													<footer class="clearfix">
														<div class="link pull-right"><i class="fa fa-link pr-1"></i><a href="/message/to/<%= msg.id %>">Read More</a></div>
													</footer>
												</article>
											</div>

									<% }); %>
									<!-- timeline grid item end -->
								</div>
								<!-- timeline grid end -->

							</div>
							<!-- main end -->

						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>