<!DOCTYPE html>
<html>
	<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<title><%= setting %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		
		<h1><%= setting %></h1>
		<p>Welcome to <%= setting %></p>

		<h2><%= num %></h2>
		<p>num is <%= num %></p>
	
		<form class="form_cls" action="/items/get" method="post">
			<input type="textarea" name="texts" placeholder="내용을 입력해주세요">
			<input type="submit" value="Send Request">
		</form>
	</body>
<!-- 
    <script type="text/javascript">
    	$('.form_cls')
    </script>
-->

</html>
