<section class="main-container">

    <div class="container">
        <div class="row">

        <!-- main start -->
        <!-- ================ -->
        <div class="main col-lg-8">

            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title"> <%= font.name%></h1>
            <div class="separator-2"></div>
            <!-- page-title end -->

            <!-- blogpost start -->
            <article class="blogpost">
                <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="overlay-container h2">
                        <p>내가 그린 기린 그림은 긴 기린 그림이냐, <br>그냥 그린 기린 그림이냐?</p>
                        </div>
                    </div>
                    </div>
                </div>
                <header>
                    <div class="post-info">
                        <span class="post-date">
                            <i class="fa fa-calendar-o pr-1"></i>
                            <span class="day"><%= font.making_date %></span>
                        </span>
                    </div>
                </header>
                <div class="blogpost-content">
                    <p><%= font.description %></p>
                </div>
                <img src="<%= font.handwrite_image_path %>" class="center">
            </article>
            <!-- blogpost end -->
            
        </div>
        <!-- main end -->
        <!-- sidebar start -->
        <!-- ================ -->
        <aside class="col-lg-4 col-xl-3 ml-xl-auto">
            <div class="sidebar">
                <div class="block clearfix">
                    <h3 class="title">Setting</h3>
                    <div class="separator-2"></div>
                    <p class="mt-3"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent" data-toggle="modal" data-target="#myModal">폰트 정보 수정하기<i class="fa fa-wrench pl-20"></i></a></p>
                    <!-- Modals start -->
                    <!-- ============================================================================== -->
                    <!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalFont" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form class="form-horizontal fontForm" role="form" method="post" action="/api/font/<%=font.id %>">             

									<div class="modal-header">
										<h4 class="modal-title" id="modalFont">폰트 정보</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									</div>
									<div class="modal-body">
											<div class="form-group">
												<label for="fontName" class="col-form-label">폰트 이름</label>
												<input type="text" class="form-control" id="fontName" name="name" value="<%=font.name %>">
											</div>
											<div class="form-group">
												<label for="fontDescription" class="col-form-label">설명</label>
												<textarea class="form-control" rows="5" id="fontDescription" name="description"><%=font.description %></textarea>
											</div>
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-sm btn-default">저장</button>
									</div>
								</form>
							</div>
						</div>
					<!-- Modals End -->
					</div>
                </div>
            </div>
        </aside>
        <!-- sidebar end -->
        
    </div>
</section>
<!-- main-container end --> 

<script type="text/javascript">


    $('.fontForm').validator().on('submit', function (event) {
        // debugger;
        if (event.isDefaultPrevented() == false) {

            var $this = $(this);
            FormAjaxUtils.send($this, function () {
                location.href = "/font/<%=font.id%>" ;
            }, function (response) {
                
            });
        }
        return false;
    });

</script>