<div id="page-start"></div>

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-10 order-lg-2 center">

                <!-- section start -->
                <!-- ================ -->
                <section class="section clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-11 center">
                                <div class="call-to-action p-20 light-gray-bg hc-shadow bordered" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <div class="row justify-content-md-center">
                                        <div class="row col-lg-10">
                                            <div class="col-lg-12">
                                                <h2 class="page-title"> <%= font.name%>
                                                    <div class="pull-right">
                                                        <btn id="back_btn" class="btn btn-default btn-md btn-animated margin-clear" onclick="location.href = document.referrer;">뒤로가기&nbsp;<i class="fa fa-arrow-left fa-1x"></i></btn>
                                                    </div>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separator-2"></div>
                                    <!-- page-title end -->

                                    <div class="mt-4 pt-5 pv-10 ph-20 hc-item-box bordered hc-shadow text-center hc-element-invisible animated hc-element-visible fadeInDownSmall">
                                    <!-- blogpost start -->
                                    <article class="blogpost">
                                        <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <div class="overlay-container h2">
                                                    <p>내가 그린 기린 그림은 긴 기린 그림이냐, <br>그냥 그린 기린 그림이냐?</p>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <header>
                                            <div class="post-info text-left">
                                                <span class="post-date">
                                                    <i class="fa fa-calendar-o pr-1"></i>
                                                    <span class="day"><%= font.making_date %></span>
                                                </span>
                                            </div>
                                        </header>
                                        <div class="blogpost-content">
                                            <p><%= font.description %></p>
                                        </div>
                                    </article>
                                    <!-- blogpost end -->
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="row col-lg-10">
                                        <div class="col-lg-12">
                                            <% if(font.open_state=="private") { %>
                                                <h4 class="page-title">내 손글씨 이미지
                                                    <div class="pull-right">
                                                        <p class=""><a href="#" class="btn btn-animated btn-md btn-gray-transparent" data-toggle="modal" data-target="#myModal">폰트 정보 수정하기<i class="fa fa-wrench pl-20"></i></a></p>
                                                    </div>
                                                </h4>
                                            <% } else { %>
                                                <h4 class="page-title">손글씨 이미지
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-2"></div>
                                <div class="column col-lg-10 center">
                                    <img src="<%= font.handwrite_image_path %>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- main end -->
        <!-- Modals start -->
        <!-- ============================================================================== -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalFont" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-horizontal fontForm" role="form" method="post" action="/api/font/<%=font.id %>">             

                        <div class="modal-header">
                            <h4 class="modal-title" id="modalFont">폰트 정보</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="fontName" class="col-form-label">폰트 이름</label>
                                    <input type="text" class="form-control" id="fontName" name="name" value="<%=font.name %>">
                                </div>
                                <div class="form-group">
                                    <label for="fontDescription" class="col-form-label">설명</label>
                                    <textarea class="form-control" rows="5" id="fontDescription" name="description"><%=font.description %></textarea>
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-sm btn-default">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modals End -->
    </div>
</section>
<!-- main-container end --> 

<script type="text/javascript">


    $('.fontForm').validator().on('submit', function (event) {
        // debugger;
        if (event.isDefaultPrevented() == false) {

            var $this = $(this);
            FormAjaxUtils.send($this, function () {
                location.href = "/font/<%=font.id%>" ;
            }, function (response) {
                
            });
        }
        return false;
    });

</script>