<div id="page-start"></div>

<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->

              <br>
              <br>
              <h1>내 손글씨체</h1>
              <div class="separator-2"></div>
                <% if(font==0) { %>
                    <div class="call-to-action p-20 light-gray-bg hc-shadow bordered" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <div class="row justify-content-md-center">
                            <div class="row col-lg-11 center text-center">
                                <p class="logo-font text-center pt-2" style="font-weight: bold;">만들어진 손글씨가 없습니다.
                                    <a href="/handwrite" class="btn btn-default btn-animated margin-clear pull-right pb-2">손글씨 만들기&nbsp;<i class="fa fa-play"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } else { %> 
                <!-- masonry grid start -->
                <!-- ================ -->
                <div class="masonry-grid row">
                    <!-- masonry grid item start -->
                    <% font.forEach(function(font){ %>
                      <div class="masonry-grid-item col-md-6 col-lg-4" onclick="location.href='font/<%=font.id %>'">
                          <!-- blogpost start -->

                          <article class="blogpost hc-shadow-2 light-gray-bg bordered">
                              <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">

                                  <!-- Wrapper for slides -->
                                  <div class="carousel-inner" role="listbox">
                                      <div class="carousel-item active text-center mt-20">
                                        <% if(font.read_state=="unread") { %>
                                          <div class="text-right js-new-badge mr-2" data-id="1">
                                              <span class="badge badge-pill badge-danger">New</span>
                                          </div>
                                        <% } %>
                                            <h2><span style="font-family: &quot;<%= font.main_font_name %>&quot;;">다람쥐 헌 쳇바퀴에 타고파</span></h2>
                                      </div>
                                  </div>
                              </div>
                              <header>
                                    <div class="post-info text-right mb-2">
                                        <span class="post-date">
                                            <i class="fa fa-calendar-o pr-1"></i>
                                            <span class="day"><%= font.making_date %></span>
                                        </span>
                                    </div>
                                  <h5><%= font.name %></h5>
                              </header>
                              <div class="blogpost-content">
                                  <p><%= font.description %></p>
                              </div>
                              <footer class="clearfix">
                              </footer>
                          </article>
                          <!-- blogpost end -->
                      </div>
                      <!-- masonry grid item end -->
                    <% }); %>
                <!-- section end -->
                </div>
                <% } %>
                <!-- page-title end -->

                <br>
                <br>
                <h1>기본 손글씨체</h1>
                <div class="separator-2"></div>
                    <!-- masonry grid start -->
                    <!-- ================ -->
                    <div class="masonry-grid row">
                        <!-- masonry grid item start -->
                        <% default_font.forEach(function(font){ %>
                        <div class="masonry-grid-item col-md-6 col-lg-4" onclick="location.href='font/<%=font.id %>'">
                            <!-- blogpost start -->

                            <article class="blogpost hc-shadow-2 light-gray-bg bordered">
                                <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active text-center mt-20">
                                            <% if(font.read_state=="unread") { %>
                                            <div class="text-right js-new-badge mr-2" data-id="1">
                                                <span class="badge badge-pill badge-danger">New</span>
                                            </div>
                                            <% } %>
                                                <h2><span style="font-family: &quot;<%= font.main_font_name %>&quot;;">다람쥐 헌 쳇바퀴에 타고파</span></h2>
                                        </div>
                                    </div>
                                </div>
                                <header>
                                        <div class="post-info text-right mb-2">
                                            <span class="post-date">
                                                <i class="fa fa-calendar-o pr-1"></i>
                                                <span class="day"><%= font.making_date %></span>
                                            </span>
                                        </div>
                                    <h5><%= font.name %></h5>
                                </header>
                                <div class="blogpost-content">
                                    <p><%= font.description %></p>
                                </div>
                                <footer class="clearfix">
                                </footer>
                            </article>
                            <!-- blogpost end -->
                        </div>
                        <!-- masonry grid item end -->
                        <% }); %>
                        
                    <!-- section end -->
                    </div>
                    <!-- page-title end -->
                </div>
                <!-- main end -->

        </div>
    </div>
</section>

<script type="text/javascript">

    var private_fonts = <%- JSON.stringify(font) %>;
    var public_fonts = <%- JSON.stringify(default_font)%>;

    private_fonts.forEach(function(private_font) {

        var font_face = new FontFace(private_font.main_font_name, 'url(' + private_font.main_font_file + ')');

        // 폰트 load
        font_face.load().then(function(loaded_face) {
            // load 된 폰트 추가
            document.fonts.add(loaded_face);
        }).catch(function(error) { });
    });

    public_fonts.forEach(function(public_font) {

        var font_face = new FontFace(public_font.main_font_name, 'url(' + public_font.main_font_file + ')');

        // 폰트 load
        font_face.load().then(function(loaded_face) {
            // load 된 폰트 추가
            document.fonts.add(loaded_face);
        }).catch(function(error) { });
    });

    console.log(font);
    console.log(default_font);

    function checkedNewFontToServer() {
        AjaxUtils.post("/api/font/new/checked" , null , function () {
            hideNewBadges();
        });
    };

    checkedNewFontToServer();

    function isEmpty(arg) {
        for (var item in arg) {
          return false;
        }
        return true;
    }
    $(document).on("pageload",function(){
        window.location.reload(true);
    });

</script>
